/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-width: 300px;
    min-height: 100%;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    min-height: 15vh;
    width: 100vw;
    border-bottom: 1px solid #d4d9db;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.head {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

header img {
    height: 19vh;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

header nav {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;

}

header nav a {
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
}

header nav a div {
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

header nav a div:hover {
    color: #09A603;
}

.burger {
    display: none;
}

@media (max-width:780px) {
    header nav {
        display: none;

    }

    .burger {
        display: block;
        width: 6vh;
        height: 6vh;
        margin-right: 20px;
        background-image: url("../pictures/menu.svg");
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .burger:hover {
        opacity: 0.6;
    }

    header nav a div {
        font-size: 15px;
    }
}

.menu_on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;



}

.menu_img {
    background-image: url("../pictures/x.svg");
    width: 6vh;
    height: 6vh;
    z-index: 2;
    position: fixed;
    top: 42%;
    right: 10px;
}

.center {
    text-align: center;
}

/* ========================================================== */
section {
    margin-top: 20vh;
    min-height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width:780px) {
    section {
        margin-top: 20vh;
        min-height: 70vh;

    }
}

section #wraper {
    background-image: url("../pictures/pole.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 70vh;
    padding: 10vh;

}

article {
    margin: 18vh;
    text-align: justify;

}


article>* {
    margin: 10px;

}



article ul {
    list-style-position: inside;
    color: gray;
}

section div img {
    width: 50vw;
}

p {
    color: gray;
}

@media (max-width:780px) {
    section div img {
        width: 80vw;
    }
}

/* ========================================================== */

@media (max-width:780px) {
    article {
        margin: 9vh;
        text-align: center;
    }
}

#menag div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 70vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 5vh;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    border: 1px solid #d4d9db;
    padding: 20px;
    background-color: #EFEFEF;
}

#menag div img {
    width: 100px;
    height: 100px;
}

@media (max-width:780px) {
    #menag div {
        font-size: 14px;
    }

    #menag div img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
}

/* =============================================== */

.fl_ctr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.fl_ctr>* {
    margin: 1vh;
}

@media (max-width:780px) {
    .fl_ctr {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

#contact>* {
    margin: 5vh;
}

#contact>div>p {
    padding: 10px;
    border-bottom: 1px solid gray;
    margin: 1vh;
    text-align: center;
}

#contact iframe {
    width: 50vw;
    height: 50vw;
}

#name {
    color: #555555;
    font-weight: 700;

}

@media (max-width:780px) {
    #contact iframe {
        width: 80vw;
        height: 80vw;
    }
}

.desc {
    width: 100%;
    height: 20vh;
    background-color: #eee;
    color: #888888;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.desc>* {
    margin-left: 10%;
    font-size: 20px;
}

/* ========================================================== */
footer {
    width: 100%;
    background-color: #999999;
    color: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}

footer img {
    width: 150px;
}

footer div img {
    width: 100px;

}

footer h3 {
    width: 30%;

}

footer p a,
footer p {
    text-decoration: none;
    color: #ccc;
}

footer div a {
    text-decoration: none;
    color: #ccc;
    display: block;
}

@media (max-width:780px) {
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px;
    }

    footer>* {
        margin-top: 10px;
    }

    .desc>* {
        font-size: 16px;
    }
}

/* ====================================== */
.on {
    color: #09A603;
}

.ad {
    min-height: 11vh;
    width: 80vw;
    border: 1px solid #ccc;
    margin: 2vh;
    padding: 1vw;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 5px;

}

.op {
    width: 70%;
    color: #999999;
    text-align: center;
}

.za,
.za_wyniki {
    text-align: center;
    width: 30%;
    color: #09A603;
}

.za a {
    color: #fff;
    background-color: #1b7718;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #1b6618;
}

.za a:hover {
    background-color: #fff;
    color: #1b7718;
}

.za_wyniki a {
    color: #1b7718;
    background-color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #1b6618;
}

.za_wyniki a:hover {
    background-color: #1b6618;
    color: #fff;
}

h1 {
    margin: 2vh 0;
}

@media (max-width:780px) {
    .ad {
        font-size: 14px;
    }
}

/* ======================================= */
/* galerry */



.mySlides {
    display: none;
}



/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 73vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slideshow-container>.mySlides>img {
    width: 100%;
    height: auto;

}

@media (max-width:780px) {
    .slideshow-container>.mySlides>img {
        height: 80vh;
        width: auto;
    }
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px 16px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }


}

@media (max-width:780px) and (orientation: landscape) {
    .slideshow-container>.mySlides>img {
        height: auto;
        width: 100%;
    }
}